<h4>教師專區</h4>

<%= link_to "歌曲管理", admin_songs_path, :class => "btn btn-success"%>
<%= link_to "評語管理", admin_comments_path, :class => "btn btn-warning"%>
<%= link_to "標籤管理", admin_tags_path, :class => "btn btn-info"%>

<br>
<br>