<h2>
  <span>
   <%=link_to "編輯個人資料", edit_profile_path(current_user,current_user.profile), :class=> "btn btn-primary"%>
   <%=link_to "我的上傳歌曲", upload_user_path(current_user), :class=> "btn btn-primary"%>
   <%=link_to "聯絡我們", contact_users_path, :class=> "btn btn-primary"%>
  </span>
</h2>