<div class="col-md-offset-2 col-md-8">
<h1>服務條款及隱私權政策</h1>
<br>
<br>

<h4>1. 認知與接受條款</h4>
iMuzi係依據本服務條款提供iMuzi服務 (以下簡稱「本服務」)。當您使用本服務時，即表示您已閱讀、瞭解並同意接受本服務條款之所有內容。此外，當您使用iMuzi的特定服務時，可能會依據該特定服務之性質，而須遵守iMuzi所另行公告之服務條款或相關規定。此另行公告之服務條款或相關規定（包括但不限於反垃圾郵件政策）亦均併入屬於本服務條款之一部分。iMuzi有權於任何時間修改或變更本服務條款之內容，建議您隨時注意該等修改或變更。您於任何修改或變更後繼續使用本服務，視為您已閱讀、瞭解並同意接受該等修改或變更。如果您不同意本服務條款的內容，或者您所屬的國家或地域排除本服務條款內容之全部或一部時，您應立即停止使用本服務。
<br>
<br>
若您為未滿二十歲，除應符合上述規定外，並應於您的家長（或監護人）閱讀、瞭解並同意本服務條款之所有內容及其後修改變更後，方得使用或繼續使用本服務。當您使用或繼續使用本服務時，即推定您的家長（或監護人）已閱讀、瞭解並同意接受本服務條款之所有內容及其後修改變更。
<br>
<br>
<h4>2. 與第三人網站的連結</h4>


本服務或協力廠商可能會提供連結至其他網站或網路資源的連結。您可能會因此連結至其他業者經營的網站，但不表示iMuzi與該等業者有任何關係。其他業者經營的網站均由各該業者自行負責，不屬iMuzi控制及負責範圍之內。iMuzi對任何檢索結果或外部連結，不擔保其合適性、可依賴性、即時性、有效性、正確性及完整性。您也許會檢索或連結到一些令您厭惡或不需要的網站，這是網際網路運作的可能結果，遇到此類情形時，iMuzi建議您不要瀏覽或儘速離開該等網站。您並同意iMuzi無須為您連結至非屬於iMuzi之網站所生之任何損害，負損害賠償之責任。
<br>
<br>
<h4>3. 與第三人網站的連結</h4>

為了能使用本服務，您同意以下事項：
 (a) 依本服務註冊表之提示提供您本人正確、最新及完整的資料，
 (b) 維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤、不實或不完整的資料，iMuzi有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部。
<br>
<br>
<h4>4. iMuzi隱私權政策</h4>


關於您的會員註冊以及其他特定資料依iMuzi「隱私權政策」受到保護與規範。您了解當您使用本服務時，您同意iMuzi依據「隱私權政策」進行您個人資料的蒐集與利用，包括跨國間的傳輸與儲存及iMuzi及其關係企業內部之利用。
<br>
<br>
<h4>5. 會員帳號、密碼及安全</h4>


完成本服務的登記程序之後，您有責任維持密碼及帳號的機密安全。
您並同意以下事項：

您的密碼或帳號遭到盜用或有其他任何安全問題發生時，您將立即通知iMuzi，且 

每次連線完畢，均結束您的帳號使用。
<br>
<br>
<h4>6. 兒童及青少年之保護</h4>



兒童及青少年上網已經成為無可避免之趨勢，使用網際網路獲取知識更可以培養子女的成熟度與競爭能力。然而網路上的確存有不適宜兒童及青少年接受的訊息，例如色情與暴力的訊息，兒童及青少年有可能因此受到心靈與肉體上的傷害。因此，為確保兒童及青少年使用網路的安全，並避免隱私權受到侵犯，家長（或監護人）應盡到下列義務：
a. 先檢閱各該網站是否有保護個人資料的「隱私權政策」，再決定是否同意提出相關的個人資料；並應持續叮嚀兒童及青少年不可洩漏自己或家人的任何資料（包括姓名、地址、電話、電子郵件信箱、照片、信用卡號等）給任何人。也不可以單獨接受網友的邀請或贈送禮物而與之見面。 
b. 謹慎選擇合適網站供兒童及青少年瀏覽。未滿十二歲之兒童上網時，應全程在旁陪伴，十二歲以上未滿十八歲之青少年上網前亦應斟酌是否給予同意。
<br>
<br>
<h4>7. 使用者的守法義務及承諾</h4>


您承諾絕不為任何非法目的或以任何非法方式使用本服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。您若係中華民國以外之使用者，並同意遵守所屬國家或地域之法令。您同意並保證不得利用本服務從事侵害他人權益或違法之行為，包括但不限於： 
A. 上載、張貼、公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案於本服務上； 
B. 侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利； 
C. 違反依法律或契約所應負之保密義務； 
D. 冒用他人名義使用本服務； 
E. 上載、張貼、傳輸或散佈任何含有電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料； 
F. 從事不法交易行為或張貼虛假不實、引人犯罪之訊息； 
G. 販賣槍枝、毒品、禁藥、盜版軟體或其他違禁物； 
H. 提供賭博資訊或以任何方式引誘他人參與賭博； 
I. 濫發廣告郵件、垃圾郵件、連鎖信、違法之多層次傳銷訊息等； 
J. 以任何方法傷害未成年人； 
K. 偽造訊息來源或以任何方式干擾傳輸來源之認定； 
L. 干擾或中斷本服務或伺服器或連結本服務之網路，或不遵守連結至本服務之相關需求、程序、政策或規則等，包括但不限於：使用任何設備、軟體或刻意規避iMuzi之排除自動搜尋之標頭 (robot exclusion headers)； 
M. 對於恐怖行動提供任何實質支持或資源； 
N. 追蹤他人或其他干擾他人或為前述目的蒐集或儲存他人之個人資訊； 
O. 其它(其他)iMuzi有正當理由認為不適當之行為。
<br>
<br>
<h4>8. 系統中斷或故障</h4>


本服務有時可能會出現中斷或故障等現象，或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。您於使用本服務時宜自行採取防護措施。iMuzi對於您因使用（或無法使用）本服務而造成的損害，除故意或重大過失外，不負任何賠償責任。
<br>
<br>
<h4>9. 資訊或建議</h4>


iMuzi對於您使用本服務或經由本服務連結之其他網站而取得之資訊或建議（包括但不限於，商務、投資理財、醫療、法律等方面），不擔保其為完全正確無誤。iMuzi對於本服務所提供之資訊或建議有權隨時修改或刪除。您在做出任何相關規劃與決定之前，仍應請教專業人員針對您的情況提出意見，以符合您的個別需求。 
iMuzi隨時會與其他公司、廠商等第三人（「內容提供者」）合作，由其提供包括新聞、訊息、電子報等不同內容供iMuzi刊登，iMuzi於刊登時均將註明內容提供者。基於尊重內容提供者之智慧財產權，iMuzi對其所提供之內容並不做實質之審查或修改，對該等內容之正確真偽亦不負任何責任。對該等內容之正確真偽，您宜自行判斷之。您若認為某些內容涉及侵權或有所不實，請逕向該內容提供者反應意見。
<br>
<br>
<h4>10. 廣告</h4>


您在本服務中瀏覽到的所有廣告內容、文字與圖片之說明、展示樣品或其它銷售資訊，均由各該廣告商、產品與服務的供應商所設計與提出。您對於廣告之正確性與可信度應自行斟酌與判斷。iMuzi僅接受委託予以刊登，不對前述廣告負擔保責任。
<br>
<br>
<h4>11. 買賣或其他交易行為</h4>

廠商或個人可能透過本服務或經由本服務連結之其它網站提供商品買賣、服務或其它交易行為。您若因此與該等廠商或個人進行交易，各該買賣或其它合約均僅存在您與各該廠商或個人兩造之間。您應要求各該廠商或個人，就其商品、服務或其它交易標的物之品質、內容、運送、保證事項與瑕疵擔保責任等，事先詳細闡釋與說明。您因前述買賣、服務或其它交易行為所產生之爭執，應向各該廠商或個人尋求救濟或解決之道。 iMuzi聲明絕不介入您與廠商或個人間的任何買賣、服務或其它交易行為，對於您所獲得的商品、服務或其它交易標的物亦不負任何擔保責任。您若係向iMuzi經營的購物網站進行前述買賣、服務或其它交易行為，雙方權利義務將另行依據該網站之責任規範約定書內容決定之。
<br>
<br>
<h4>12. 免責聲明</h4>


您明確了解並同意：iMuzi對本服務及軟體不提供任何明示或默示的擔保，包含但不限於權利完整、商業適售性、特定目的之適用性及未侵害他人權利。本服務及軟體乃依其「現狀」及「提供使用時」之基礎提供，您使用本服務及軟體時，須自行承擔相關風險。iMuzi不保證以下事項：(i) 本服務及軟體將符合您的需求，(ii) 本服務及軟體不受干擾、及時提供、安全可靠或無錯誤，(iii) 由本服務及軟體之使用而取得之結果為正確或可靠，(iv) 您經由本服務購買或取得之任何產品、服務、資訊或其它資料將符合您的期望及 (v) 任何軟體中之錯誤將被修正。 是否經由本服務及軟體之使用下載或取得任何資料應由您自行考量且自負風險，並拋棄因前開任何資料之下載而導致您電腦系統、網路存取、下載或播放設備之任何損壞或資料流失，對iMuzi提出任何請求或採取法律行動，您應自負完全責任。您自iMuzi或經由本服務或軟體取得之建議和資訊，無論其為書面或口頭，均不構成本服務或軟體之保證。 您明確了解並同意iMuzi及其子公司、關係企業、經理人、受僱人、代理人、合夥人及授權人，無須為您任何直接、間接、附隨、特別、衍生、懲罰性的損害負責，包括但不限於因下述事由所生利潤、商譽、使用、資料之損害或其他無形損失（即令iMuzi曾被告知該等損害之可能性亦同）：(i) 使用或無法使用本服務；(ii) 替代商品及服務之購買成本；(iii) 他人未經授權存取或修改您的傳輸或資料；(iv) 任何第三人就本服務所為之聲明或行為，或 (v) 任何其他與本服務有關者。部分管轄區域並不允許對於特定保證責任的排除或是對於附隨或衍生損害的限制或免除。於此情形，本條前述限制對您不適用。
<br>
<br>
<h4>13. 會員行為</h4>


由會員公開張貼或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其它資料（以下簡稱「會員內容」），均由「會員內容」提供者自負責任。iMuzi無法控制經由本服務而張貼之「會員內容」，因此不保證其正確性、完整性或品質。您了解使用本服務時，可能會接觸到令人不快、不適當、令人厭惡之「會員內容」。在任何情況下，iMuzi均不為任何「會員內容」負責，包含但不限於任何錯誤或遺漏，以及經由本服務張貼、發送電子郵件或傳送而衍生之任何損失或損害。

您了解iMuzi並未針對「會員內容」事先加以審查，但iMuzi有權（但無義務）依其自行之考量，拒絕或移除經由本服務提供之任何「會員內容」。在不限制前開規定之前提下，iMuzi及其指定人有權將有違反本服務條款或法令之虞、或令人厭惡之任何「會員內容」加以移除。您使用任何「會員內容」時，就前開「會員內容」之正確性、完整性或實用性之情形，您同意必須自行加以評估並承擔所有風險。 您了解並同意，iMuzi依據法律的要求，或基於以下目的之合理必要範圍內，認定必須將您的帳戶資訊或「會員內容」加以保存或揭露予政府機關、司法警察或未成年人之監護人時，得加以保存及揭露：(a) 遵守法令或政府機關之要求，(b) 為提供本服務所必須者，(c) 為防止他人權益之重大危害而有必要者，或 (d) 為免除使用者及公眾之生命、身體、自由、權利、財產上之急迫危險者。

您了解本服務及本服務所包含之軟體，可能含有使數位資料得以被保護之安全元件，使用該等資料必須依iMuzi或提供該內容予本服務之內容提供者所定的使用規則。您不得試圖破壞或規避任何內含於本服務之使用規則。任何未經合法授權之重製、發行、散布或公開展示本服務所提供之資料之全部或一部，均被嚴格禁止。
<br>
<br>
<h4>14. 智慧財產權的保護</h4>


iMuzi所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計、會員內容等，均由iMuzi或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、公開傳輸、公開演出、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。若您欲引用或轉載前述軟體、程式或網站內容，除明確為法律所許可者外，必須依法取得iMuzi或其他權利人的事前書面同意。尊重智慧財產權是您應盡的義務，如有違反，您應對iMuzi負損害賠償責任。iMuzi及其關係企業為行銷宣傳本服務，就本服務相關之商品或服務名稱、圖樣等（以下稱「iMuzi商標」），依其註冊或使用之狀態，受商標法及公平交易法等之保護，未經iMuzi事前書面同意，您同意不以任何方式使用iMuzi商標。
<br>
<br>
<h4>15. 您對iMuzi之授權</h4>


若您無合法權利得授權他人使用、修改、重製、公開播送、改作、散布、發行、公開發表某資料，並將前述權利轉授權第三人，請勿擅自將該資料上載、傳送、輸入或提供予iMuzi。您所上載、傳送、輸入或提供予iMuzi之任何資料，其權利仍為您或您的授權人所有；但任何資料一經您上載、傳送、輸入或提供予iMuzi時，即表示您同意：(1) 由iMuzi及其關係企業儲存或管理該資料，並由iMuzi及其關係企業之搜尋工具進行索引及抓取，並公開刊登、使用於iMuzi及其關係企業的相關系統網路上，包括但不限於iMuzi所聯盟或合作的第三人網站上；(2) 授權iMuzi及其關係企業可以基於公益或為宣傳、推廣或經營iMuzi及本服務之目的，進行使用、修改、重製、公開播送、改作、散布、發行、公開發表、公開傳輸、公開上映、翻譯該等資料，並得在此範圍內將前述權利轉授權他人。您並保證iMuzi及其關係企業使用、修改、重製、公開播送、改作、散布、發行、公開發表、公開傳輸、公開上映、翻譯、轉授權該等資料，不致侵害任何第三人之智慧財產權，否則應對iMuzi及其關係企業負損害賠償責任。
<br>
<br>
<h4>16. 通知</h4>


如依法或其他相關規定須為通知時，iMuzi得以包括但不限於：電子郵件、一般信件、簡訊、多媒體簡訊、文字訊息、張貼於本服務網頁，或其他現在或未來合理之方式通知您，包括本服務條款之變更。但若您違反本服務條款，以未經授權的方式存取本服務，您將不會收到前述通知。當您經由授權的方式存取本服務，而同意本服務條款時，您即同意iMuzi所為之任何及所有給您的通知，都視為送達。
<br>
<br>
<h4>17. 著作權侵害處理</h4>


iMuzi尊重他人著作權，亦要求我們的使用者同樣尊重他人著作權，您瞭解並同意我們將依據「iMuzi著作權保護政策」保護著作權並處理著作權侵害之事宜。若您認為iMuzi網站中之任何網頁內容或網友使用iMuzi服務已侵害您的著作權，請您詳閱「iMuzi著作權保護政策」後填寫「著作權侵害通知書」，並請依該通知書所載，提供相關資料及聲明並經簽名或蓋章後傳真或寄送予iMuzi。您使用本服務若有三次涉及侵權情事者，iMuzi將終止您全部或部分服務。又若您所涉及侵權情事嚴重者，iMuzi亦得暫停或終止您全部或部分服務。
<br>
<br>
<h4>18. 對iMuzi的貢獻</h4>


若您透過建議或回應網頁對於iMuzi提供任何想法、建議、文件或提議（以下稱「貢獻」），您認知並同意：(a) 您的貢獻並非特定機密或專有資訊；(b) iMuzi對前開貢獻並不負有任何明示或默示的保密責任；(c) iMuzi有權在全球為任何目的、以任何方式、在任何媒體上，使用或揭露（或選擇不使用或揭露）前開貢獻；(d) iMuzi可能已有與前述貢獻相似而正在考慮或發展中的想法或提案；(e) 您的貢獻將自動於iMuzi不對您負任何責任的情形下，成為iMuzi之財產；(f) 您於任何情形下皆無權利對iMuzi主張任何形式的賠償或補償。
<br>
<br>
<h4>19. 補償</h4>


因您經由本服務提供、張貼或傳送「會員內容」、使用本服務、與本服務連線、違反本服務條款、或侵害其他人任何權利所衍生或導致任何第三人為請求或主張時，您同意使iMuzi及其子公司、關係企業、經理人、代理人、受僱人、合夥人及授權人免於任何損害。
<br>
<br>
<h4>20. 不得為商業利用</h4>


您同意不對本服務任何部分或本服務（包括：會員內容、廣告、軟體及iMuzi帳號等）之使用或存取，進行重製、拷貝、出售、交易、轉售或作任何商業目的之使用。
<br>
<br>
<h4>21. 服務變更</h4>


iMuzi保留於任何時點，不經通知隨時修改或暫時或永久停止繼續提供本服務（或其任一部分）的權利。您同意iMuzi對於您或是任何第三方對於任何修改、暫停或停止繼續提供本服務負任何責任。
<br>
<br>
<h4>22. 終止</h4>


您同意iMuzi得依其判斷因任何理由，包含但不限於一定期間未使用、法院或政府機關命令、本服務無法繼續或服務內容實質變更、無法預期之技術或安全因素或問題、您所為詐欺或違法行為、未依約支付費用，或其它iMuzi認為您已經違反本服務條款的明文規定及精神，而終止或限制您使用帳號（或其任何部分）或本服務之使用，並將本服務內任何「會員內容」加以移除並刪除。您並同意iMuzi亦得依其自行之考量，於通知或未通知之情形下，隨時終止或限制您使用本服務或其任何部分。您承認並同意前開終止或限制，iMuzi得立即關閉、刪除或限制存取您的帳號及您帳號中全部或部分相關資料及檔案，及停止本服務全部或部分之使用。此外，您同意若本服務之使用被終止或限制時，iMuzi對您或任何第三人均不承擔責任。
<br>
<br>
<h4>23. 經紀條款</h4>

使用者若使用或參與本網站服務而能短期間內為廣為大眾熟知，iMuzi保有優先與其締結經紀合約的權力，但會秉持多贏的條件下做出相關的決策。
<br>
<br>
<h4>24. 一般條款</h4>


本服務條款構成您與iMuzi就您使用本服務之完整合意，取代您先前與iMuzi間有關本服務所為之任何約定。本服務條款之解釋與適用，以及與本服務條款有關的爭議，除法律另有規定者外，均應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院。

iMuzi未行使或執行本服務條款任何權利或規定，不構成前開權利或規定之棄權。若任何本服務條款規定，經有管轄權之法院認定無效，當事人仍同意法院應努力使當事人於前開規定所表達之真意生效，且本服務條款之其他規定仍應完全有效。

您同意您的iMuzi帳號係不可轉讓，且您iMuzi帳號或帳號中內容之任何權利，於您死亡時即立刻終止。於iMuzi接獲您的死亡證明文件時，您的帳號將被終止。本服務條款之標題僅係為方便起見，不具任何法律或契約效果。 若有任何違反本服務條款之行為，請立即與客服聯絡。

<h1>隱私權政策</h1>
<br>
<h4>iMuzi使用您個人資料的方式</h4> 


本政策涵蓋的內容包括：iMuzi如何處理蒐集或收到的個人資料 (包括與您過去使用iMuzi產品及服務相關的資料)。個人資料是指得以識別您的身分且未公開的資料，如姓名、地址、電子郵件地址或電話號碼。

<br>
本隱私權保護政策只適用於iMuzi
<br>
本政策不適用於非iMuzi所有或控制的公司，也不適用於非iMuzi僱用或管理之人。
<br>
資料蒐集及使用
<br>

<h4>總論</h4>

在您註冊iMuzi帳號、使用iMuzi產品或服務、瀏覽iMuzi網頁或某些合作夥伴的網頁，以及參加宣傳活動或贈獎遊戲時，iMuzi會蒐集您的個人資料。iMuzi也可能從商業夥伴或其他公司處取得您的個人資料，並將這些資料與iMuzi所擁有的您的個人資料相結合。
<br>
<br>
當您在iMuzi註冊時，我們可能會詢問您的姓名、電子郵件地址、出生日期、性別、郵遞區號、職位、行業及個人興趣等資料。在您註冊iMuzi帳號並登入我們的服務後，我們就能辨別您的身分。iMuzi蒐集您與我們或我們的商業夥伴交易的資料。
<br>
<br>
iMuzi也自動接收並記錄您電腦和瀏覽器上的資料，包括 IP位址、iMuzi cookie中的資料、軟體和硬體屬性以及您瀏覽的網頁紀錄。
<br>
<br>
iMuzi一般將資料用作以下用途：客製化廣告及您看到的網頁內容、滿足您對產品和服務的要求、改進我們的服務、聯絡您、進行研究，以及提供內部及外部客戶匿名報告。
<br>
<br>

<h1>資料分享與揭露</h1>


除非是為了向您提供您所要求的產品或服務、獲得您的授權，或有以下情形，否則iMuzi不會向任何其他人士或非關係企業出借或出售您的個人資料，或與之分享：
<br>
<br>
1. 我們向已簽署保密協議書之代表iMuzi執行業務或與我們共事的值得信賴的合作夥伴提供這些資料。這些公司可能會將您的個人資料用於協助 iMuzi就我們和行銷夥伴所提供產品及服務的事宜，與您進行溝通。但這些公司無獨立權利分享這些資料。
<br>
<br>
2. 我們對傳票、法院命令或法律程序作出回應、取得或行使法律權利，或對訴訟上之請求提出防禦。
<br>
<br>
3. 我們認為為了調查和防止非法活動、涉嫌詐欺、對人身安全有潛在威脅的狀況、對iMuzi服務條款的違反，或為了對上述情形採取應對措施，或法律另有規定，而有必要分享您的個人資料時。
<br>
<br>
4. 如果iMuzi被其他公司收購或合併，我們會將您的個人資料移轉給該公司。如果發生這種情況，iMuzi會在您的個人資料被移轉且將適用不同的隱私權政策前通知您。
<br>
<br>
iMuzi會根據您的個人資料向您展示精準式行銷廣告。廣告主 (包括廣告遞送公司) 可能假定那些瀏覽、點閱精準式行銷廣告或與廣告互動的人士符合精準式行銷標準，例如特定地理區域內18至24歲的女性。
<br>
<br>
5. 在您瀏覽精準式行銷廣告或與廣告發生互動時，iMuzi不會向廣告主提供您的任何個人資料。然而，一旦瀏覽廣告或與廣告發生互動，即表示您同意廣告主可能會假定您符合展示型廣告所使用的精準式行銷標準。
<br>
<br>
6. iMuzi廣告主包括金融服務提供者 (如銀行、保險代理人、證券經紀人及抵押貸款機構) 和非金融公司 (如商店、航空公司及軟體公司)。
<br>
<br>
iMuzi與各行各業的供應商、合作夥伴、廣告主及其他服務提供者共事。
<br>
<br>
<h4>Cookie</h4>


iMuzi會在您的電腦上設定並存取iMuzi cookie 。
<br>
<br>
iMuzi允許在某些iMuzi網頁上刊登廣告的其他公司在您的電腦上設定並存取 cookie。其他公司將根據其自訂的隱私權政策使用其 cookie，並非依據本政策。廣告主或其他公司不能存取iMuzi的 cookie。
<br>
<br>
iMuzi會存取我們的網站內外與產品及服務有關的 cookie。
<br>
<br>
您修改及刪除個人帳號資料及偏好設定的能力
<br>
<br>

<h4>總論</h4>


您可隨時修改個人iMuzi帳號資料，我們保有權利向您傳送iMuzi服務相關的特定訊息 (如服務公告、管理訊息)，這些訊息被視為您iMuzi帳號的一部分，您無法選擇退出接收。
<br>
<br>
機密性和安全性
<br>
<br>
我們會將有權存取您個人資料之員工限於我們合理相信是為了向您提供產品或服務或為了完成工作而需要取得這些資料的員工。 
我們已採取符合法規要求的實體、電子和程序防護措施，以保護您個人資料的安全。
<br>
<br>
隱私權保護政策修訂
<br>
<br>
iMuzi可不時修訂本政策。當我們在個人資料的處理上有重大變更時，會將通知傳送到您在iMuzi帳號中指定的主要電子郵件地址，或在我們的網站上張貼告示。
<br>
<br>
問題和建議
<br>
<br>
如果您有任何問題或建議，請透過 客服信箱 與我們聯繫。
<br>
<br>
iMuzi著作權保護政策
iMuzi尊重他人著作權，iMuzi服務條款亦明定，網友使用iMuzi服務不得侵害他人之著作權，因此，iMuzi呼籲使用者同樣尊重他人之著作權。如果您認為iMuzi網站中之任何網頁內容或網友使用 iMuzi服務已侵害您的著作權，建議您利用本處理辦法提出檢舉，iMuzi客服中心將儘速為您處理。
<br>
<br>
<h4>檢舉著作權侵權處理辦法</h4>

一、權利人檢舉 ：
若iMuzi網站中之任何網頁內容或網友使用 iMuzi服務已侵害您或您所代理的著作權人的著作權，請您填寫「著作權侵害通知書」，且依該通知書所載提供下列資料及聲明後，傳送予 Yahoo 奇摩 ：
<br>
<br>
著作權人或著作權人之代理人之姓名或名稱、聯絡地址及聯絡電話、電子信箱或傳真號碼。
被侵害之著作或製版之名稱。
<br>

侵害著作權之內容所在頁面的網址 (URL) 
<br>
等足使iMuzi確認該涉有侵權內容之相關資訊；並請求移除侵害著作權之內容。
<br>
聲明您確係基於善意，相信該侵權內容的使用是未經過合法授權或違反著作權法。
<br>
聲明您於通知書所載相關資料均為真實，且您是著作權人或著作權人之代理人而為上開聲明。
<br>
保證上開聲明如有不實致 iMuzi或他人受損害者，您願負法律責任。
<br>
填寫及傳送著作權侵害通知書
<br>
二、被檢舉人異議 ：
<br>
倘若您遭權利人檢舉而對於權利人的主張有異議，請您填寫「著作權侵害異議通知書」，且依該通知書所載提供資料及聲明並經簽名或蓋章後，以傳真的方式通知iMuzi、或將通知書掃瞄為電子檔後作為電子郵件附件寄送予iMuzi。
<br>
下載著作權侵害異議通知書
<br>
異議窗口： 您可採下列方式將通知書寄送給我們
<br>
iMuzi E-mail 信箱 ：
<br>
（請將異議通知書掃瞄為電子檔後作為電子郵件附件寄送予 iMuzi，此方式不接受電子簽章。）
<br>
iMuzi處理原則 ：
<br>
iMuzi接獲權利人的通知書後，將儘速移除權利人所主張涉有侵害著作權之網頁內容，並依據 iMuzi與網友約定之聯絡方式或網友留存之聯絡資訊，轉知網友涉有侵權情事。iMuzi得將處理情況，包括權利人的姓名、電子郵件或電話等提供予該網友，俾該網友得直接與權利人溝通解決爭議。若著作權侵權通知不完備者，iMuzi將會通知權利人補正相關資訊。
<br>
請注意，網友的網頁內容倘若經權利人主張涉有侵害其著作權者，該內容一旦經iMuzi刪除後，iMuzi即無法再行回復。又網友如有三次涉有侵權情事者，iMuzi將終止該網友全部或部分之服務。
<br>
但倘若網友對於權利人主張的侵權情事有異議，該網友得檢具通知文件要求 iMuzi將該通知文件轉知權利人以表示異議； 若網友的通知不完備者，iMuzi將會通知網友補正相關資訊。iMuzi於接獲前項之通知文件後，會立即將該通知文件轉送給權利人。若權利人未於接獲該通知文件之次日起十個工作日內，提出已對該網友提出訴訟之證明者，該網友將可以自行重新上傳該內容。
<br>
前述權利人或網友的通知若不完備者，iMuzi得以其所提供之電子郵件或傳真通知補正相關資訊。
<br>
權利人或網友必須於接到iMuzi補正通知之次日起五個工作日內完成補正，屆期未補正或未完全補正者，依著作權法之規定即為未提出通知。
<br>
依據iMuzi隱私權政策條款規定，除經使用者同意或於提供服務之目的者外，iMuzi僅得依法令或政府機關之要求，提供使用者之識別資料予第三人。因之，您如依本辦法提出檢舉，iMuzi僅會依您的請求移除該侵權內容，不會提供您有關該使用者之識別資料。您如欲取得該使用者資料，您應向地方法院檢察署或刑事警察局提出告訴，iMuzi將於前開單位來函要求提供使用者資料後，即刻配合提供之。
<br>
如您對於著作權相關規定有任何疑義者，歡迎您參考經濟部智慧財產局 【著作權 Q&A 】 
<br>

</div>