<div class="col-md-offset-2 col-md-8">
  <h1>
  親愛的用戶
    <%if current_user%>
      <%= current_user.profile.username%>
    <%end%>
  </h1>
  <h3>若您在使用體驗上有任何問題，麻煩不吝提供意見</h3>

  <h3>iMuzi的客服團隊聯絡資訊如下，感謝您寶貴的意見回饋</h3> 
  <h3><i class="fa fa-envelope">  imuziservice@gmail.com</i></h3>
</div>
