

<div class="container" id="team-page">
  <h1><i class="fa fa-users"> 師資介紹</i></h1>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <%= image_tag ("github-logo.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      </div>
      <div class="col-md-8">
        <h1>小九</h1>
        <h3>共同創辦人 & 專業 vocal教師</h3>
        <hr>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius ea dolore molestiae, mollitia magni a, quibusdam eos suscipit saepe provident harum, consequuntur esse similique at, blanditiis non quae vitae.  </h4>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
        <%= image_tag ("founding-father-github.jpg") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      </div>
      <div class="col-md-8">
        <h1>偉誌</h1>
        <h3>共同創辦人 & 專業 vocal教師</h3>
        <hr>
        <h4>
          <ul>
            <li>教學專長:</li>
            <p>音域拓展、肌肉放鬆、共鳴調整、氣息加強</p>
            <li>擅長曲風</li>
            <p>流行/80's重金屬/流行搖滾/</p>
            <li>經歷</li>
            <p>現為台灣音樂劇教母謝淑文創辦之"史多利歌唱戲劇教育系統"歌唱教師</p>
            <p>科學歌唱訓練中心流行歌唱教師</p>
            <p>大台北地區七所高中職大專院校音樂性社團指導老師</p>
            <p>中壢奇想樂器歌唱老師</p>
            <p>寶島歌舞行動音樂劇演員,配唱 </p>
          </ul>
        </h4>
      </div>
    </div>
  </div>
</div>
