

<div class="container" id="team-page">
  <h1><i class="fa fa-users"> 師資介紹</i></h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-4">
        <%= image_tag ("github-logo.png") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      </div>
      <div class="col-md-8">
        <h1>小九</h1>
        <h3>共同創辦人 & 專業 vocal教師</h3>
        <hr>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius ea dolore molestiae, mollitia magni a, quibusdam eos suscipit saepe provident harum, consequuntur esse similique at, blanditiis non quae vitae.  </h4>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-4">
        <%= image_tag ("founding-father-github.jpg") , style: "width: 100%; height: 100%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      </div>
      <div class="col-md-8">
        <h1>偉誌</h1>
        <h3>共同創辦人 & 專業 vocal教師</h3>
        <hr>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius ea dolore molestiae, mollitia magni a, quibusdam eos suscipit saepe provident harum, consequuntur esse similique at, blanditiis non quae vitae.  </h4>
      </div>
    </div>
  </div>
</div>