<div class="container" id="team-page">
  <h1><i class="fa fa-users" id="aa"> 師資介紹</i></h1>
  <hr>
  <div class="row">
    <div class="col-md-12" >
      <div class="col-md-4 text-center">
        <%= image_tag ("teacher1.png") , style: "width: 70%; height: 70%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      </div>
      <div class="col-md-8">
        <h1>小九</h1>
        <h3>共同創辦人 & 專業 Vocal教師</h3>
        <hr>
        <h4>
          <ul>
            <li>學歷</li>
              <p>國⽴臺灣藝術⼤學聲樂主修畢業</p>  
            <li>教學專⻑</li>
              <p>流⾏歌唱 / 音樂劇 / 聲樂</p>
            <li>經歷</li>
              <p>現為台灣⾳樂劇教母謝淑⽂創辦之 "史多利歌唱戲劇教育系統" 歌唱教師。</p>
              <p>國家實驗合唱團正式團員。</p>
              <p>和平阿帕 He Ping APA 歌唱教師。</p>
              <p>板橋飛⾳樂藝術工作室歌唱教師。</p>
              <p>詞曲創作/鋼琴及合聲編曲音樂工作者。</p>
            <li>歌唱教學</li>
              <p>利⽤最⾃然健康的人聲發聲原理技巧與肌⾁構造，逐步瞭解聲⾳的平衡位置及相對關係。</p>
              
              <p>針對呼吸，聲⾨閉合，舌根，音準，聲線，節奏概念，橫隔肌運⽤各器官位置與歌唱關係，共鳴，口腔與咬字，壓寬音⾊轉換，歌詞解析，情感解析，現場及錄音配唱製作，輔佐聲學現象，著重實際感覺，聽覺，肢體等，使學⽣生能根據不同歌唱狀況自我判斷聲線的運⽤，且即時應⽤，修正，調整，找出個人本質音⾊，強化培訓獨⽴而實際的歌唱能力。</p> 
          </ul>
        </h4>
      </div>
    </div>
    <p class="gst"><b class="qScrollTop result"></b></p>
    
    <div class="clearfix"></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    
    <div id="teacher2">
      <p>.</p>
      <br>
      <br>
      <br>
      <p class="gst"><b class="qScrollTop result"></b></p>
    </div>

    <div class="col-md-12" >
      <div class="col-md-4 text-center">
        <%= image_tag ("teacher2.jpg") , style: "width: 70%; height: 70%; display: inline; border-radius: 30px; position: relative; left: 10px; margin-right:10px;"%>
      </div>
      <div class="col-md-8">
        <h1>偉誌</h1>
        <h3>共同創辦人 & 專業 Vocal教師</h3>
        <hr>
        <h4>
          <ul>
            <li>教學專長:</li>
            <p>音域拓展、肌肉放鬆、共鳴調整、氣息加強</p>
            <li>擅長曲風</li>
            <p>流行 / 80's重金屬 / 流行搖滾</p>
            <li>經歷</li>
            <p>現為台灣音樂劇教母謝淑文創辦之 "史多利歌唱戲劇教育系統" 歌唱教師</p>
            <p>科學歌唱訓練中心流行歌唱教師</p>
            <p>大台北地區七所高中職大專院校音樂性社團指導老師</p>
            <p>中壢奇想樂器歌唱老師</p>
            <p>寶島歌舞行動音樂劇演員,配唱 </p>
          </ul>
        </h4>
      </div>
    </div>
  </div>
</div>
<p class="gst"><b class="qScrollTop result" id="use-btn" ></b></p>


<script>
  $(function(){
    $(window).scroll(function(){
      var scrollVal = $(this).scrollTop();
      $(".qScrollTop").text("");
      if (scrollVal > 420 && scrollVal < 440) {
        scrollVal = 1200
        $('html,body').animate({scrollTop:$('#use-btn').offset().top});
      };
      if (scrollVal > 980 && scrollVal < 1000) {
        scrollVal = 0
        $('html,body').animate({scrollTop:$('#aa').offset().top});
      };
    });
  });
</script>