@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";

@import "mains";
@import "songs";
@import "users";
@import "profiles";
@import "comments";
@import "toggle_switch";

@import "bootstrap-datepicker";
@import "bootstrap-datepicker3";

@import 'masonry/basic';
@import 'masonry/centered';
@import 'masonry/fluid';
@import 'masonry/gutters';
@import 'masonry/infinitescroll';
@import 'masonry/right-to-left';
@import 'masonry/transitions';

@import 'froala';


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
*/

/*** masonry ***/
.box{
  background-color: white;
  border-radius: 0px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
} 

.box.masonry-brick {
  background-color: white;
  padding: 0;
  margin: 10px;
  border-radius: 0px;
}

#masonry-container {
  background: #eee;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 0;
  clear: both;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.col1 { width: 80px; }
.col2 { width: 265px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

label{
  font-size: 20px;
}

.form-control {
  font-size: 20px;
}

//-----------navbar-findcond-------------
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: black; }
nav.navbar-findcond ul.navbar-nav {margin-top: 4px;}
nav.navbar-findcond ul.navbar-nav a { color:black; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a.link_active { 
  color: white; 
  padding: 5px;
  background-color: #f14444;
  border-radius: 5px;
  margin-top: 10px;   
}
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:active { 
  color: white; 
  padding: 15px;
  background-color: #f14444;
  border-radius: 5px;
  margin-top: 10px; 
}

nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }

nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }
nav.navbar-findcond input {margin-bottom: 0px; }

#dropdown-notification a:active,
#dropdown-notification a:hover {
  color: black;
}

#dropdown-logout a:hover{ 
  background: white; 
  color: black;
  padding: 0px;
  margin-left:20px;
  border-width:0px;
}

.navbar-right .dropdown-menu{
  top:30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white}

.dropdown:hover .dropdown-content {
    display: block;
}



