// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment{
  margin-left: 0px;
}

.comment-footer{
  background-color: cornsilk;
  padding: 5px 15px 0 15px;
  font-size: 20px;
}

.comment{
  border: 1px solid $border;
}