// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

$border :#E9E9E9;


body {
  font-family: "Helvetica Neue", "微軟正黑體", "Microsoft JhengHei";
  background-color:white;
  padding-top: 70px;
}

#want-to-learn-start1,
#want-to-learn-start2,
#want-to-learn-start3,
#welcome-find,
#show,
#interact {
  .fa-angle-double-down{
    font-size: 80px;
  }
}

#want-to-learn-start1,
#want-to-learn-start2{
  img{
    width: 45%;
    height: 100%; 
    display: block; 
    border-radius: 30px; 
    position: relative; 
    left: 10px; 
    margin-right:10px;     
    margin: auto;
  }
}

#want-to-learn-start3{
  img{
    width: 40%;
    height: 100%; 
    display: block; 
    border-radius: 30px; 
    position: relative; 
    left: 10px; 
    margin-right:10px;     
    margin: auto;
  }
}

#show-image{
  float: right;
}

.container-fluid{
  border: 10px;
}

.register-row1{
  margin: 0;
}

.register-word{
  color: white;
}

.btn-nomal-login{
  background-color: #f06354;
  color: white;
  width: 100%;
}

.btn-fb{
  width: 100%;
  margin-bottom:20px;
}

.register-block{
  background-color: #e3d6cc;
  padding: 30px;
}

#welcome-find, #show, #interact{
  a {
    color: #E15B47;
    &:hover {
      color: orange;
    }
  }
}
  

a {
  font-size: 20px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

#user-song {
  .song{
    width: 100%;
    height: 200px;
  }
  .song-footer{
    height: 200px;
    overflow: scroll;
  }
}

/* Carousel base class */
.carousel {
  h1, p {
    color: #111;
  }
  p{
    font-size: 20px;
  }
  height: 100vh;
  padding: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;

}
.carousel-inner .container {
  .skillpark-logo {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}

#want-to-learn, #welcome-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-now{
  color:white;
  background-color: #EC7665;
}

.how, .now {
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 25px;
  border-radius: 5px;
}
.how {
  background-color: #959090;
}
.now {
  background-color: #EC7665;
}

#want-to-learn {
  background-color: white;
  img {
    width: 200px;
    height: 200px;
    margin: 2px;
  }
  h1 {
    color: #E15B47;
  }
  .go-to-button {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    width: 200px;
    border: 2px solid black;
    padding: 15px;
  }
}

#welcome-banner {
  height: 25vh;
  background-image: asset-url('stare.png');
  background-size: cover;
  h1 {
    font-size: 300%;
    color: white;
  }
}

#welcome-find, #show, #interact {
  display:  block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: white;
  height: 60vh;
  background-image: asset-url('welcome_white.png');
  color: #E15B47;
  img {
    width: 100%;
    height: 400px;
    margin: 50px auto;
    display: inline-block;
  }
  h1 {
    margin-top: 150px;
  }
  p{
    font-size: 24px;
  }
}

#sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  background-color: white;
  h1 {
    margin-bottom: 50px;
  }
  .fb-page {
    width: 220px; height: 220;
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  background-image: asset-url('stare.png');
  background-size: cover;
  background-color: black;
  color: white;
  h1 {
    margin: 20px;
  }
  p {
    width: 70%;
    font-size: 1.2em;
    margin: 20px auto;
  }
  hr {
    width: 60%;
    size: 10px;
    color: white;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// iframe
.iframe-rwd  {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

// user-upload-card iframe
#user-upload-card .iframe-rwd  {
position: relative;
padding-bottom: 38%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
#user-upload-card .iframe-rwd iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 50%;
}

.navbar{
  margin: 0;
  background-color: #eee;
}

.nav .btn-info{
  margin: 3px;
}


#navbar .navbar-nav{ 
  .btn{
    font-size: 14px;
    padding: 5px;
    margin: 10px;
    color: gray;
  }
}

#nav-dropdown #nav-dropdown-a {
  padding-top: 5px;
}

#navbar #mic-icon{
  position: absolute;
  left: 10%;
  img{
    width:40px;
    height: 40px;
    margin: 5px;
  }
  a{
    padding: 0px;
  }
}

.personal-nav{
  position: absolute;
}

.navbar-nav > li > .dropdown-menu{
  background-color: #eee;
}

#customer-navbar {
  position: absolute;
  left: 25%;
}

.dropdown-menu > li > a:hover {
    color: white;
    background-color: gray;
    background-image: none;
}


@media (max-width: 1000px) {
  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3,
  #welcome-find,
  #show,
  #interact {
    .fa-angle-double-down{
      display: none;
    }
  }
  
  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3{
    img{
      width: 90%;
      height: 100%; 
      display: block; 
      border-radius: 30px; 
      position: relative; 
      left: 10px; 
      margin-right:10px;     
      margin: auto;
    }
  }

  p{
    font-size: 20px;
  }
  .carousel {
    height: 500px;
    padding: 0;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
  }

  #welcome-find, #show, #interact {
    display: block;
    align-items: center;
    text-align: left;
    height: 100%;
    color: #E15B47;
    img {
      width: 100%;
      height: 200px;
      display: block;
      margin: 100px auto;
    }
    h1 {
      font-size: 28px;
      text-align: center;
      margin-top: 100px;
    }
    p{
      font-size: 24px;
    }
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 500px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
  .carousel-inner .container {
    .skillpark-logo {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }

  #sign-up {
    margin-top:400px; 
    margin: 10px auto;
    height: 100%;
    .col-sm-6 {
      margin: 20px auto;
    }
  }
}

@media (max-width: 768px) {
  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3,
  #welcome-find,
  #show,
  #interact {
    .fa-angle-double-down{
      display: none;
    }
  }
  
  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3{
    img{
      width: 100%;
      height: 100%; 
      display: block; 
      border-radius: 30px; 
      position: relative; 
      left: 10px; 
      margin-right:10px;     
      margin: auto;
    }
  }

  p{
    font-size: 18px;
  }
  .col-sm-6{
    width:100%;
  }
  #want-to-learn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: 20%;
      height: 20%;
    }
    a{
      font-size: 20px;
    }

  }
  #welcome-find, #show, #interact {
    margin:20px;
    height: 200%;
    display: block;
    align-items: center;
    text-align: left;
    color: #E15B47;
    img {
      width: 100%;
      height: 300px;
      display: block;
      margin: 50px auto;
    }
    h1 {
      font-size: 30px;
      text-align: center;
      margin-top: 40px;
    }
  }

  #sign-up {
    margin-top: 20px;
    height: 100%;
  }

  #about {
    display: block;
    margin: 80px auto;
    align-items: center;
    text-align: center;
    background-size: cover;
    color: white;
    h1 {
      margin: 20px;
    }
    p {
      width: 70%;
      font-size: 1.2em;
      margin: 20px auto;
    }
    hr {
      width: 60%;
      size: 10px;
      color: white;
    }
  }

  #about{
    height: 100%;
    margin-bottom: 0;
    h3{
      font-size: 22px;
    }
  }
}

@media (max-width: 520px) {
  #head{
    margin-top: 100px;
  }

  #navbar .btn-lg{
    padding: 3px 3px;
  }

  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3,
  #welcome-find,
  #show,
  #interact {
    .fa-angle-double-down{
      display: none;
    }
  }

  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3{
    img{
      width: 100%;
      height: 100%; 
      display: block; 
      border-radius: 30px; 
      position: relative; 
      left: 10px; 
      margin-right:10px;     
      margin: auto;
    }
  }

  .container-fluid{
    margin: 20px;
  }
  h1 {
    font-size: 24px;
  }
  p{
    font-size: 18px;
  }
  .carousel {
    height: 350px;
    padding: 0;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    z-index: 10;
    margin-top:10px; 
    bottom: 0;
  }

  /* Declare heights because of positioning of img element */
  .carousel .item {
    height: 350px;
    background-color: #777;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 350px;
  }
  .carousel-inner .container {
    .skillpark-logo {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
  }
  .how, .now {
    margin: 10px;
    padding: 15px;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    display: block;
  }
  #want-to-learn, #welcome-banner {
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .go-to-button {
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    width: 150px;
    border: 2px solid black;
    padding: 10px;
  }
  #about {
    margin-top: 50px;
    background-color: black;
    p {
      width: 100%;
      font-size: 20px;
      margin: 20px auto;
    }
  }
  #want-to-learn {
    a{
      font-size: 20px;
    }
  }
  #sign-up {
    margin-top:400px; 
    margin: 10px auto;
    .col-sm-6 {
      margin: 20px auto;
    }
  }
  #welcome-find, #show, #interact {
    margin: 20px;
    height:200%;
    img {
      margin: 10px;
      width: 280px;
      margin-top: 10px;
      display: block;
    }
  }
  #profile-detail{
    display: none;
  }
  // user-upload-card iframe
  #user-upload-card .iframe-rwd  {
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 200px;
    overflow: hidden;
    top: 10px;
    width: 90%;
  }
  #user-upload-card .iframe-rwd iframe {
    position: absolute;
    top: 10px;
    left: 0;
    width: 94%;
    height: 100%;
  }
  #user-song .song{
    width: 90%;
    height: 700px;
  }
  .clearfix{
    height:0px;
  }
  .song-control{
    width: 100%;
    display: inline-block;
  }
  .panel-title{
    display: inline-block;
    width: 100%;
  }

  #about {
    display: block;
    margin: 80px auto;
    align-items: center;
    text-align: center;
    background-size: cover;
    color: white;
    h1 {
      margin: 20px;
    }
    p {
      width: 70%;
      font-size: 1.2em;
      margin: 20px auto;
    }
    hr {
      width: 60%;
      size: 10px;
      color: white;
    }
  }

  #about{
    height: 100%;
    margin-bottom: 0;
    h3{
      font-size: 22px;
    }
  }
}
@media (max-width: 350px) {
  #head{
    margin-top: 100px;
  }

  #navbar .btn-lg{
    padding: 3px 3px;
  }

  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3,
  #welcome-find,
  #show,
  #interact {
    .fa-angle-double-down{
      display: none;
    }
  }
  
  #want-to-learn-start1,
  #want-to-learn-start2,
  #want-to-learn-start3{
    img{
      width: 100%;
      height: 100%; 
      display: block; 
      border-radius: 30px; 
      position: relative; 
      left: 10px; 
      margin-right:10px;     
      margin: auto;
    }
  }

  .carousel-caption {
    z-index: 10;
    margin-top:10px; 
    bottom: 0;
  }

  #want-to-learn {
    height: 350px;
    img {
      width: 100px;
      height: 100px;
      margin: 2px;
    }
  }
  #welcome-find, #show, #interact {
    height: 200%;
    margin: 10px;
    height:200%;
    img {
      margin: 10px;
      width: 100%;
      margin-top: 10px;
      display: block;
    }
    p{
      margin: 0;
    }
  }
  h1{
    font-size: 26px;
  }
  p {
    width: 100%;
    font-size: 16px;
  }
  #navbar .navbar-nav li a {
    font-size: 24px;
  }

  #profile-detail{
    display: none;
  }
  // user-upload-card iframe
  #user-upload-card .iframe-rwd  {
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 200px;
    overflow: hidden;
    top: 10px;
    width: 90%;
  }
  #user-upload-card .iframe-rwd iframe {
    position: absolute;
    top: 10px;
    left: 0;
    width: 94%;
    height: 100%;
  }
  #user-song .song{
    width: 95%;
    height: 700px;
  }
  .panel-title{
    display: inline-block;
    width: 100%;
  }

  #about{
    height: 100%;
    margin-bottom: 0;
    h3{
      font-size: 22px;
    }
    p{
      width: 100%;
    }
  }
}



#team-page{
  background-color: white;
}



