// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#like-btn{
  a {
    text-decoration: none;
  }
}

.fa-heart{
  color: red;
  &:hover {
      color: red;
      text-decoration: none;
    }
    &:focus{
      color: red;
      text-decoration: none;
    }
}

.fa-commenting-o{
  color: green;
}