// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-song .song{
  width: 240px;
}

.user-profile .fa-star{
  font-size: 40px;
  color: gold;
}