// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user-profile{
  margin-top:10px;
  margin-right: 20px;
  background-color: white; 
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
}

.user-profile .fa-star{
  font-size: 40px;
  color: gold;
}

.user-profile #fa-star-money .fa-star{
  font-size: 40px;
  color: red;
}

#user-upload-dropdown {
  .fa-star{
    font-size: 20px;
    color: gold;
  }
  .fa-suitcase{
    font-size: 20px;
    color: black;
  }
  #fa-star-money .fa-star{
    font-size: 20px;
    color: red;
  }
}



.song-footer {
  .fa-pencil-square{
    font-size: 30px;
    color: blue;
  }
  .fa-trash{
    font-size: 30px;
    color: red;
  }
}